.city

  &-input
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px;
    margin: 20px 0 10px;
    border-radius: 5px;
    background: ghostwhite;

  &-weather
    margin-top 10px

  &-item
    position: relative;
    padding: 5px 10px;
    box-shadow: 0 0 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;

  &-remove
    cursor: pointer;
    display: inline-block;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    background: #f08080;
